.result {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 500px;
    height: 812px;
    z-index: 300;
}

.counter {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 558px;
    height: 523px;
    z-index: 200;
    padding-top: 350px;
}

.refresh {
    margin: auto;
    background: url('../img/3_cards_cards_loading.gif') center no-repeat;
    width: 32px;
    height: 32px;
    border: 0;
    position: fixed;
    bottom: 50px;
}

#guide {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 555px;
    height: 408px;
    z-index: 300;
    padding-top: 350px;
    background: url('../img/3_cards_new_guide_pic.png') center no-repeat;
}

.btnFunction {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 46px;
    height: 19px;
    z-index: 400;
    padding-top: 350px;
}

.egg {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    height: 302px;
    z-index: 100;
    animation: eggFm 3s infinite;
}

@keyframes eggFm {
    0% {
        transform: rotate(0deg);
    }
    5% {
        transform: rotate(10deg);
    }
    10% {
        transform: rotate(-10deg);
    }
    15% {
        transform: rotate(5deg);
    }
    20% {
        transform: rotate(-5deg);
    }
    25% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

* {
    padding: 0;
    margin: 0;
}

#drawCanvas {
    display: block;
    background-color: #333333;
    position: relative;
}
