.egg {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    height: 302px;
    z-index: 100;
    animation: eggFm 3s infinite;
}

@keyframes eggFm {
    0% {
        transform: rotate(0deg);
    }
    5% {
        transform: rotate(10deg);
    }
    10% {
        transform: rotate(-10deg);
    }
    15% {
        transform: rotate(5deg);
    }
    20% {
        transform: rotate(-5deg);
    }
    25% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

* {
    padding: 0;
    margin: 0;
}

#drawCanvas {
    display: block;
    background-color: #333333;
    position: relative;
}

.btnFunction {
    position: absolute;
    bottom: 0
}
